*.*
*
!*/
!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.sv
!*.cpp
!*.cc
!*.bak
!.gitignore
!.scalafmt.conf
!build.sc
!README.md
!utils/
!*.nxdc
yosys_src/
build/
vsrc/*
vsrc/dpic/*

# mill
out/
.metals/
.bsp/
.idea/
.idea_modules/
test_run_dir/
!.mill-version
